*{
    font-family: "ArialMT","HirakakuProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "sans-serif";
}

body {
    font-size: 16px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#main-content {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 30px 50px 15px 50px;
    position: relative;
}
#header {
    width: 100%;
    display: table;
    height: 75px;
}
#header .logo {
    background: url(../images/logo.jpg) scroll no-repeat right center transparent;
    width: 42%;
    display: table-cell;
}
#header .logo_s {
    background: url(../images/logo.jpg) scroll no-repeat 10px 10px transparent;
    width: 170px;
    height: 75px;
    display: table-cell;
    position: absolute;
    top: 0px;
    left: 0px;
}
#header .title {
    font-size: 17px;
    font-weight: bold;
    display: table-cell;
    padding: 10px 0px 0px 10px;
    width: 58%;
    line-height: 65px;
    text-align: left;
}
.title_r {
    font-size: 17px;
    display: table-cell;
    padding: 10px 0px 0px 0px;
    text-align: left;
}
#header .title_s {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}
#content {
}
#content form {
}
#content form label.color {
    display: inline-block;
	text-align: center;
	background-color: #93CDDD;
	color: #FFF;
	padding: 10px 0px 7px 0px !important;
	margin-right: -4px;
	width: 130px;
}
p.font12 label {
    font-size: 15px !important;
}
#content form input[type="radio"] {
    width: 15px !important;
}
#content form input {
    display: inline-block;
    padding: 5px;
    width: 120px;
    margin-left: 5px;
}
#content form div.name {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
}

#content form span.error {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    display: inline-block;
}

#content form div.subtitle {
    text-align: center;
    width: 100%;
    font-size: 12px;
}

#content form .btn-next {
	background-color: #666699;
	color: #fff;
	border: 0 none;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	padding: 5px 26px;
	cursor: pointer;
}
#content form .btn-back {
    background-color: #93CDDD;
    color: #FFF;
    text-align: center;
    border: 0px;
    padding: 5px 26px;
    font-size: 14px;
    height: 34px;
    margin-left: 220px;
    cursor: pointer;
}
#content form .btn-clear {
    background-color: #93CDDD;
    color: #FFF;
    text-align: center;
    border: 0px;
    font-size: 12px;
    height: 23px;
    width: 200px;
    right: 65px;
    position: absolute;
    cursor: pointer;
}
#content form textarea {
    display: block;
    width: 100%;
    height: 220px;
}
#content p {
    font-size: 11px;
    text-align: left;
}

#purponeConsent .txtCenter {
    text-align: center !important;
    margin-top: 45px !important;
    margin-bottom: 20px;
}
div#purponeConsent {
    margin-top: 25px;
}
#content #purponeConsent p {
    font-size: 11px;
    text-align: left;
    margin-top: 15px;
}
#content form .box {
    border: 1px solid #000;
    padding-left: 35px;
    margin-bottom: 10px;
}
#content form input.name, #content form input.birthday {
    width: 130px;
    margin-left: 5px;
    margin-right: 25px;
}

#content form input.relation {
    width: 20px;
    margin-left: 5px;
}
#content form input.my_number {
    width: 340px;
    margin-left: 5px;
}

/** COMMON **/
.mt3 {
    margin-top: 3px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}
.ml20 {
	margin-left: 20px;
}
.txtCenter {
    text-align: center !important;
}
.txtLeft {
    text-align: left !important;
}
.font12 {
    font-size: 12px !important;
}
.font14 {
    font-size: 14px !important;
}
.font16 {
    font-size: 16px !important;
}
.h40 {
    height: 40px !important;
    min-height: 40px !important;
}

.radio-group input[type="radio"] {
    width: 15px !important;
}

.radio-group {
    text-align: left;
}

.radio-group label {
    padding: 0px !important;
}

.chkbox-group {
    position: relative;
    float: left;
    width: 100%;
}

.chkbox-group .col {
    height: 85px;
    float: left;
    margin: 0px 2% 0px 2%;
    text-align: left;
    position: relative;
}

.chkbox-group .col input[type="checkbox"] {
    width: 15px !important;
}

.agree {
    width: 100%;
    text-align: right;
}

.agree input[type="checkbox"] {
    width: 15px !important;
}

.chkbox-group hr {
    clear: both;
}
.box .titlebox {
	border-bottom: 1px solid #000;
    margin-left: -35px;
}
#content #partnerRegistForm p {
    font-size: 12px;
    text-align: left;
    height: 45px;
    margin-top: 10px;
}
#content #partnerRegistForm input.lastname {
	width: 100px;
    margin-left: 5px;
    margin-right: 25px;
   	height: 17px;
   	line-height: 12px;
}
#content #partnerRegistForm input.firstname {
	width: 100px;
    margin-left: 5px;
    margin-right: 25px;
   	height: 17px;
   	line-height: 12px;
}
#content #partnerRegistForm input.relationshipOther {
	width: 120px;
    margin-left: -41px;
    margin-right: 25px;
   	height: 17px;
   	line-height: 12px;
}
#content #partnerRegistForm input.furigananame {
	width: 100px;
    margin-left: 5px;
    margin-right: 25px;
   	height: 17px;
}
#content #partnerRegistForm input.mynumber {
	width: 200px;
    margin-left: 38px;
   	height: 17px;
   	line-height: 12px;
}
#content #partnerRegistForm span.lastname {
    margin-left: 80px;
}
#content #partnerRegistForm span.relationshipOther {
    margin-left: 66px;
}
#content #partnerRegistForm span.year,
#content #partnerRegistForm span.month,
#content #partnerRegistForm span.day {
    margin-left: 10px;
}
#content #partnerRegistForm select.year {
    margin-left: 30px;
    width: 116px;
    height: 30px;
}
#content #partnerRegistForm select.month,
#content #partnerRegistForm select.day {
    margin-left: 10px;
    width: 80px;
    height: 30px;
}
#content #partnerRegistForm select.relationship {
    margin-left: 95px;
    width: 95px;
    height: 30px;
}
#checkrequireSigning{
	display: none;
}
canvas {
	position: relative;
	margin: 1px;
	margin-left: 0px;
	border: 1px solid #000000;
}
h1, p {
	padding-left: 2px;
	width: 100%;
	margin: 0 auto;
}
#saveSignature {
	display: none;
}
#content form div.personsigning {
	border: 1px solid #000;
	width: 200px;
	height: 94px;
	margin-top: 10px;
	margin-left: 10px;
}
#content form div.personsigning img{
	width: 100%
}
.pesonal_information,
.dependents_information{
	text-align: left;
}
.dependents_information .dependent1,
.dependents_information .dependent2 {
	margin-left: 20px;
}
#content form .btn-goback {
    background-color: #93CDDD;
    color: #FFF;
    text-align: center;
    border: 0px;
    padding: 5px 26px;
    font-size: 14px;
    height: 34px;
    margin-left: 143px;
    width: 100px;
}
#content form .btn-registration {
    background-color: #93CDDD;
    color: #FFF;
    text-align: center;
    border: 0px;
    padding: 5px 26px;
    font-size: 14px;
    height: 34px;
    margin-left: 110px;
    width: 100px;
}
#main-content-staffsignning {
width: 600px;
margin: 0 auto;
border: 1px solid #CCC;
padding: 30px 50px 15px 50px;
}

#header .logo_l {
	background: url(../images/logo.jpg) scroll no-repeat 10px 10px transparent;
	width: 170px;
	height: 75px;
	display: table-cell;
	position: absolute;
	top: 0px;
	margin-left: -52px;
}
.errorShainExistCheck {
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: red;
    display: inline-block;
    margin-left: 225px;
}
#content form span.errorStaffExistCheck {
    text-align: left;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    display: inline-block;
    margin-left: 230px;
}
#messageInfoShainExistCheck {
	 text-align: left;
	 margin-left: 176px;
}
#messageInfoStaffExistCheck {
	 text-align: left;
	 margin-left: 200px;
}
#content form span.errorMyNumberRegist {
    text-align: left;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    display: inline-block;
    margin-left: 165px;
}
.messagecomplete {
	margin-top: 50px;
	margin-bottom: 50px;
}
.pesonal_information label {
    font-size: 16px !important;
    padding: 0px !important;
    text-align: left !important;
}
.error {
    border: 1px solid #ff0000;
}
.errorPartnerRegist {
	text-align: left;
	width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    display: inline-block;
}
#checkStaffNetworkOffLine {
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: red;
    margin-left: 225px;
	display: none;
}
#checkPurposeNetworkOffLine, #checkRegistNetworkOffLine {
	text-align: center;
    width: 100%;
	margin-top: 15px;
    font-size: 12px;
    color: red;
	margin-bottom: 15px;
	display: none;
}
#checkMyNumberNetworkOffLine {
	text-align: left;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    margin-left: 165px;
	display: none;
}
#checkPartnerNetworkOffLine {
	text-align: left;
    width: 100%;
    font-size: 12px;
    color: red;
	margin-bottom: 10px;
	display: none;
}
#checkSignningNetworkOffLine, #checkrequireSigning {
	text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
	display: none;
}
#content #partnerRegistForm input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
.shainNoLable {
	background-color: #93cddd;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px;
}
.shainNoResultLabel {
	background-color: #93cddd;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px;
	width: 53px;
	float: left;
}
.shainNoResult {
	background-color: #ccffff;
	font-size: 12px;
	padding: 7px 15px;
	margin-left: 86px;
}